@import '~@angular/material/theming';

.mat-form-field{
  width: 70%;
}

.clickable {
  cursor: default;
  &:hover {
    @include mat-elevation(8);
  }
}

.sinVowel{
  cursor:not-allowed;
  &:hover {
    @include mat-elevation(2, #f8f7f7, 0.8);
  }
}



.autocompleteform {
  width: 70%;
}

.autocompleteform-full-width {
  width: 100%;
  font-size: large;
  float: right;
}

.custom-tooltip {
  font-size:15px;
}

mat-icon.clickable {
  cursor: default;
  width:30px;
  height:50px;
  line-height: 70px;
  &:hover {
    @include mat-elevation(8);
  }
}
